<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mgtech.acudame">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:parentActivityName=".activity.ComplementosActivity"
        android:roundIcon="@mipmap/ic_logo_round"
        android:screenOrientation="fullSensor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="feedback.Feedback"
            android:parentActivityName=".activity.HomeActivity" />

        <activity
            android:name=".activity.ConfiguracoesSaboresActivity"
            android:parentActivityName=".activity.SaboresActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.SaboresActivity"
            android:parentActivityName=".activity.EmpresaActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".adapter.AdapterSabor"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.NovoSaborActivity"
            android:parentActivityName=".activity.SaboresActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.ConfiguracoesComplementoActivity"
            android:parentActivityName=".activity.ComplementosActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.NovoComplementoActivity"
            android:parentActivityName=".activity.ComplementosActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".adapter.AdapterComplementoActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.ComplementosActivity"
            android:parentActivityName=".activity.EmpresaActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".adapter.AdapterProdutoEmpresa"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.PedidosRecebidosEmpresaActivity"
            android:parentActivityName=".activity.EmpresaActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".adapter.AdapterPedidoUsuario"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.ConfiguracoesProdutoActivity"
            android:parentActivityName=".activity.EmpresaActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.PedidosCanceladosEmpresaActivity"
            android:parentActivityName=".activity.EmpresaActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.PedidosFinalizadosEmpresaActivity"
            android:parentActivityName=".activity.EmpresaActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.CarrinhoActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.HistoricoPedidosUsuarioActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.PedidosActivity"
            android:parentActivityName=".activity.EmpresaActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.CardapioActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.ConfiguracoesUsuarioActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.NovoProdutoEmpresaActivity"
            android:parentActivityName=".activity.EmpresaActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.ConfiguracoesEmpresaActivity"
            android:parentActivityName=".activity.EmpresaActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.EmpresaActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.AutenticacaoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SplashActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:screenOrientation="portrait"
                    tools:ignore="LockedOrientationActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Servico do FCM -->
        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- o ícone da notificação -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_delivery" /> <!-- Canal de notificação -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4438181443019044~6061159786" />
    </application>

</manifest>